<style>
 .report-line {
  height: 0;
  border-top: 1px solid maroon;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 30px;

}
 .report-line span {
  display: inline-block;
  position: relative;
  padding: 0 17px;
  background-color: maroon;
  color: maroon;
  top: -16px;
  font-size: 20px;
}
</style>
<div class='admin-form'>

  <%= form_for( @blood_examination_report, html: { :class => "form-horizontal" }) do |f| %>
  <% if @blood_examination_report.errors.any? %>
  <div class="alert alert-danger alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    <ul>
      <% @blood_examination_report.errors.full_messages.each do |message| %>
      <li style="color: white;"><%= message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>


  <div class="section">
    <div class="row">
      <div class="col-md-1" style="margin-top: 5px;">
        <label>
          Name:
        </label>
      </div>
      <div class="col-md-3">
        <label>
          <%= text_field_tag :patient_name, nil, :class => "form-control" %>
          <!-- <input type="text" class="form-control" > -->
        </label>
      </div>
      <div class="col-md-1" style="margin-top: 5px;">
        Gender:
      </div>
      <div class="col-md-2">
        <label style="margin-top: 5px;">Male</label><input type="radio" name="gender"/>&nbsp;  <label style="margin-top: 5px;">Female  </label><input type="radio" name="gender"/>
      </div>
      <div class="col-md-1" style="margin-top: 5px;">
        Age:
      </div>
      <div class="col-md-2">
          <%= text_field_tag :age, "", :class => "form-control" %>
        <!-- <select class = "form-control"><option>Select Age</option><select> -->
        </div>
      </div>
    </div>

    <div class="section">
      <div class="row">
        <div class="col-md-1" style="margin-top: 5px;">
          <label>
            Reffered By:
          </label>
        </div>
        <div class="col-md-3">
          <label>
              <%= text_field_tag :reffered_by, nil, :class => "form-control" %>
          </label>
        </div>
        <div class="col-md-3" style="margin-top: 5px;">
          <label  class="prepend-icon ">
            <input type="text" class="datetime-field2 gui-input form-control" name="" placeholder="Date">
            <label class="field-icon"><i class="fa fa-calendar"></i>
            </label>
          </label>
        </div>
      </div>
    </div>
  <br/>


  <div class="report-line">
    <span style="background-color: #fff;">Blood Examination Report</span>
    </div>
    <!-- <span ><h2 style="margin-top:-10px;"><h2/></span> -->
    <!-- <hr style="background-color:red;color:maroon;margin-top: -20px;"> -->

    <div class="panel-body col-xs-12">
        <!-- <div class="row">
          <div class="col-md-2" style="margin-top: 5px;">
            <label>
              Color:
            </label>
          </div>
          <div class="col-md-6">
            <!-- <select class = "form-control"><option>select one field</option><select> -->
            <!-- </div>
          </div> -->
          <!-- <table width="100%">
            <tr style="border:solid;">
              <th style="width:15%">
                <h4><b>TEST RANGE</b></h4>
              </th>
              <th style="width:35%;text-align:center;">
                <h4><b>PATIENT VALUE</b></h4>
              </th>
              <th style="width:10%">
              </th>
              <th style="width:40%">
                <h4><b>NORMAL</b></h4>
              </th>
            </tr>
            <tr style="border:none;">
              <td>
                <b>Hemaglobin:</b>
              </td>
              <td>
                <%= text_field_tag :hemaglobin ,nil,class:'form-control'%>
              </td>
              <td><label>gms(**%)</label></td>
              <td>
                <label>Male:14-18Gms %</label><br/>
                <label>Female:11.5-16Gms %</label><br/>
                <label>Child:12-14Gms %</label>
              </td>
            </tr>

            <tr>
              <td>
                <b>Total R.B.C count:</b>
              </td>
              <td>
                <select class="form-control"></select>
              </td>
              <td></td>
              <td>
                <label>Male:4.5-6.5 Mil/Cumm </label><br/>
                <label>Female:4.0-5.5 Mil/Cumm</label>
              </td>
            </tr>

            <tr>
              <td>
                <b>Total W.B.C count:</b>
              </td>
              <td>
                <select class="form-control"></select>
              </td>
              <td></td>
              <td>
                <label>5,000-11,000Cells/Cumm</label><br/>
              </td>
            </tr>

            <tr>
              <div class="">
              <td>
                <b>Total A.E count:</b>
              </td>
              <td>
                <select class="form-control"></select>
              </td>
              <td></td>
              <td>
                <label>40-440Cells/Cumm</label>
              </td>
            </div>
            </tr>
            <tr>
              <td>
                <b>Platelete count:</b>
              </td>
              <td>
                <select class="form-control"></select>
              </td>
              <td></td>
              <td>
                <label>1.5-4.0 LakhsCells/Cumm</label>
              </td>
            </tr>
            <tr>
              <td colspan="4">
              <div class="report-line" id="spy6" align="center">
                <span style="background-color: #fff; font-size:15px">Examination Report</span>
              </div>
            </td>
            </tr>

            <tr>
              <div class="">
              <td>
                <b>neutrophils:</b>
              </td>
              <td>
                <select class="form-control"></select>
              </td>
              <td></td>
              <td>
                <label>Adults : 40-75 %</label>
              </td>
            </div>
            </tr>
            <tr>

          </table> -->
          <div class="row" style="border:solid">
            <div class="col-md-4" style="margin-top: 5px;">
              <h4><b>
                TEST RANGE
              </b></h4>
            </div>
            <div class="col-md-4">
              <h4><b>
                TEST RANGE
              </b></h4>
              </div>
              <div class="col-md-4">
                <h4><b>
                  TEST RANGE
                </b></h4>
              </div>
            </div>
      </div><br/>
      <% end %>
</div>
