<style>
.report-line {
  height: 0;
  border-top: 1px solid maroon;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 30px;

}
.report-line span {
  display: inline-block;
  position: relative;
  padding: 0 17px;
  background-color: maroon;
  color: maroon;
  top: -16px;
  font-size: 20px;
}


</style>
<div class=''>

  <%= form_for( @blood_examination_report, html: { :class => "form-horizontal" }) do |f| %>
  <% if @blood_examination_report.errors.any? %>
  <div class="alert alert-danger alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    <ul>
      <% @blood_examination_report.errors.full_messages.each do |message| %>
      <li style="color: white;"><%= message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>


  <div class="section">
    <div class="row">
      <div class="col-md-1" style="margin-top: 5px;">
        <label>
          Name:
        </label>
      </div>
      <div class="col-md-3">
        <label>
          <%= text_field_tag :patient_name, nil, :class => "form-control" %>
          <!-- <input type="text" class="form-control" > -->
        </label>
      </div>
      <div class="col-md-1" style="margin-top: 5px;">
        Gender:
      </div>
      <div class="col-md-2">
        <label style="margin-top: 5px;">Male</label><input type="radio" name="gender"/>&nbsp;  <label style="margin-top: 5px;">Female  </label><input type="radio" name="gender"/>
      </div>
      <div class="col-md-1" style="margin-top: 5px;">
        Age:
      </div>
      <div class="col-md-2">
          <%= text_field_tag :age, "", :class => "form-control" %>
        <!-- <select class = "form-control"><option>Select Age</option><select> -->
        </div>
      </div>
    </div>

    <div class="section">
      <div class="row">
        <div class="col-md-1" style="margin-top: 5px;">
          <label>
            Reffered By:
          </label>
        </div>
        <div class="col-md-3">
          <label>
              <%= text_field_tag :reffered_by, nil, :class => "form-control" %>
          </label>
        </div>
        <div class="col-md-3" style="">
            <input type="text" class="form-control has-feedback-left" id="single_cal4" placeholder="First Name" aria-describedby="inputSuccess2Status4">
            <span class="fa fa-calendar-o form-control-feedback left" aria-hidden="true"></span>
            <span id="inputSuccess2Status4" class="sr-only">(success)</span>
        </div>
      </div>
    </div>
<br/>


  <div class="report-line">
    <span style="background-color: #fff;">Blood Examination Report</span>
  </div>

  <div class="panel-body col-xs-12">

    <div class="row">
      <div class="col-md-3">
        <h4><b>
          TEST RANGE
        </b></h4>
      </div>
      <div class="col-md-4" align="center">
        <h4><b>
          TEST RANGE
        </b></h4>
      </div>
      <div class="col-md-1">
      </div>
      <div class="col-md-4">
        <h4><b>
          TEST RANGE
        </b></h4>
      </div>
    </div><br/>

    <div class="section">
    <div class="row">
      <div class="col-md-3">
        <b>
          Hemaglobin:
        </b>
      </div>
      <div class="col-md-4">
        <%= text_field_tag :hemaglobin ,nil,class:'form-control'%>
      </div>
      <div class="col-md-1">
        <label>gms(**%)</label>
      </div>
      <div class="col-md-4">
        <label>Male:14-18Gms %</label><br/>
        <label>Female:11.5-16Gms %</label><br/>
        <label>Child:12-14Gms %</label>
      </div>
    </div>
  </div><br/>

  <div class="section">
  <div class="row">
    <div class="col-md-3">
      <b>Total R.B.C count:</b>
    </div>
    <div class="col-md-4">
      <select class="form-control"></select>
    </div>
    <div class="col-md-1">
    </div>
    <div class="col-md-4">
      <label>Male:4.5-6.5 Mil/Cumm </label><br/>
      <label>Female:4.0-5.5 Mil/Cumm</label>
    </div>
  </div>
</div><br/>

<div class="section">
<div class="row">
  <div class="col-md-3">
    <b>Total W.B.C count:</b>
  </div>
  <div class="col-md-4">
    <select class="form-control"></select>
  </div>
  <div class="col-md-1">
  </div>
  <div class="col-md-4">
    <label>5,000-11,000Cells/Cumm</label>
  </div>
</div>
</div><br/>

<div class="section">
<div class="row">
  <div class="col-md-3">
    <b>Total A.E count:</b>
  </div>
  <div class="col-md-4">
    <select class="form-control"></select>
  </div>
  <div class="col-md-1">
  </div>
  <div class="col-md-4">
    <label>40-440Cells/Cumm</label>
  </div>
</div>
</div><br/>

<div class="section">
<div class="row">
  <div class="col-md-3">
    <b>Platelete count:</b>
  </div>
  <div class="col-md-4">
    <select class="form-control"></select>
  </div>
  <div class="col-md-1">
  </div>
  <div class="col-md-4">
    <label>1.5-4.0 LakhsCells/Cumm</label>
  </div>
</div>
</div><br/>

<div class="row">
  <div class="col-md-12" style="margin-top: 5px;">
    <div class="report-line" id="spy6" align="center">
      <span style="background-color: #fff; font-size:15px">Examination Report</span>
    </div>
  </div>
</div>

<div class="section">
<div class="row">
  <div class="col-md-3">
    <b>Neutrophils:</b>
  </div>
  <div class="col-md-4">
    <select class="form-control"></select>
  </div>
  <div class="col-md-1">
  </div>
  <div class="col-md-4">
    <label>Adults : 40-75 %</label>
  </div>
</div>
</div><br/>

<div class="section">
<div class="row">
  <div class="col-md-3">
    <b>Lymphocytes:</b>
  </div>
  <div class="col-md-4">
    <select class="form-control"></select>
  </div>
  <div class="col-md-1">
  </div>
  <div class="col-md-4">
    <label>Adults : 20-40 %</label><br/>
    <label>Childrens : 33-40 %</label>
  </div>
</div>
</div><br/>

<div class="section">
<div class="row">
  <div class="col-md-3">
    <b>Esoniphils:</b>
  </div>
  <div class="col-md-4">
    <select class="form-control"></select>
  </div>
  <div class="col-md-1">
  </div>
  <div class="col-md-4">
    <label>2-8 %</label>
  </div>
</div>
</div><br/>

<div class="section">
<div class="row">
  <div class="col-md-3">
    <b>Monocytes:</b>
  </div>
  <div class="col-md-4">
    <select class="form-control"></select>
  </div>
  <div class="col-md-1">
  </div>
  <div class="col-md-4">
    <label>0-6 %</label>
  </div>
</div>
</div><br/>

<div class="section">
<div class="row">
  <div class="col-md-3">
    <b>Basophils:</b>
  </div>
  <div class="col-md-4">
    <select class="form-control"></select>
  </div>
  <div class="col-md-1">
  </div>
  <div class="col-md-4">
    <label>0-1 %</label>
  </div>
</div>
</div><br/>

<div class="section">
<div class="row">
  <div class="col-md-3">
    <b>E.S.R:</b>
  </div>
  <div class="col-md-4">
    <select class="form-control"></select>
  </div>
  <div class="col-md-1">
  </div>
  <div class="col-md-4">
    <label>Male :0-15 mm/hr</label><br/>
    <label>Female :0-20 mm/hr</label>
  </div>
</div>
</div><br/>


<div class="section">
<div class="row">
  <div class="col-md-3">

  </div>
  <div class="col-md-4" align="center">
    <%= f.submit class: "btn btn-success"%>
  </div>
  <div class="col-md-1">
  </div>
  <div class="col-md-4">

  </div>
</div>
</div>



</div>

<% end %>
</div>
