
  <%= form_for( @patient, html: { :class => "form-horizontal" }) do |f| %>
  <div class="section">
    <div class="row">
      <div class="col-md-2" style="margin-top: 5px;">
        <label>
          Patient Name:
        </label>
      </div>
      <div class="col-md-4">
          <%= f.text_field :name, :class => "form-control" %>
          <span class="fa fa-user form-control-feedback right" aria-hidden="true"></span>
      </div>
      <div class="col-md-2">
      </div>
      <div class="col-md-4">
        <input type="text" class="form-control has-feedback-left" id="single_cal4" placeholder="First Name" aria-describedby="inputSuccess2Status4">
        <span class="fa fa-calendar-o form-control-feedback left" aria-hidden="true"></span>
        <span id="inputSuccess2Status4" class="sr-only">(success)</span>
      </div>
    </div>
  </div><br/>
  <div class="section">
    <div class="row">
      <div class="col-md-2">
        <label>
          s/o|w/o:
        </label>
      </div>
      <div class="col-md-4">
          <%#= text_field_tag :patient_name, nil, :class => "form-control" %>
          <input type="text" class="form-control" >
          <span class="fa fa-user form-control-feedback right" aria-hidden="true"></span>

      </div>
      <div class="col-md-2">
      </div>
      <div class="col-md-4">
        <%= select_tag "patient[patient_test]", options_for_select(@patient_tests.collect{ |u| u[:name] }), {:class => "form-control",prompt: "Select Test", required: true, id:''} %>
      </div>
    </div>
  </div><br/>

  <div class="section">
    <div class="row">
      <div class="col-md-2" style="margin-top: 5px;">
        <label>
          Gender:
        </label>
      </div>

      <div class="col-md-6">
        <label>
           <label style="margin-top: 5px;">Male: </label><input type="radio" name="patient[gender]" class="flat" style="opacity:0" checked="" value="1"/>&nbsp;  <label style="margin-top: 5px;">Female:  </label><input type="radio" style="opacity:0" name="patient[gender]" class="flat" value="2"/>
         </label>
      </div>
    </div>
  </div><br/>

  <div class="section">
    <div class="row">
      <div class="col-md-2" style="margin-top: 5px;">
        <label>
          Age:
        </label>
      </div>
      <div class="col-md-4">
          <%= f.text_field :age, :class => "form-control" %>
      </div>
    </div>
  </div><br/>

  <div class="section">
    <div class="row">
      <div class="col-md-2" style="margin-top: 5px;">
        <label>
          Phone Num:
        </label>
      </div>
      <div class="col-md-4">
          <%= f.text_field :mobile_no, :class => "form-control" %>
            <span class="fa fa-phone form-control-feedback right" aria-hidden="true"></span>
      </div>
    </div>
  </div><br/>

  <div class="section">
    <div class="row">
      <div class="col-md-2" style="margin-top: 5px;">
        <label>
          Reffered By:
        </label>
      </div>
      <div class="col-md-4">
          <%= f.text_field :referred_by, :class => "form-control" %>
          <span class="fa fa-user form-control-feedback right" aria-hidden="true"></span>
      </div>
    </div>
  </div><br>
  <div class="section">
  <div class="row">
    <div class="col-md-2"></div>
      <div class="col-md-4" align="center">
      <%= f.submit :class => " btn btn-sm btn-success" %>
    </div>
  </div>
</div>
  <% end %>
